@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

